body {
    background-image: url("Starwars.gif");
    background-size: cover;
}

h1 {
    color: #28495F !important;
    font-family: Helvetica, Arial, sans-serif;
}

#gameLink {
    text-align: center;
    border: 1px solid gray;
}

/*.form-group, button{*/
    /*margin-bottom: 10px !important;*/
/*}*/

li {
    color: black;
    font-size: 20px;
}

#high-score {
    color: black;
    font-size: 25px;
}

#greeting {
    position: absolute;
    left: 30%;
    top: 30%;
    background: #fff;
    width: 350px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: none;
}

/*body{*/
/*background-color: white;*/
/*animation: backgroundColorChange 5s;*/
/*-moz-animation: backgroundColorChange 5s infinite;  Firefox */
/*-webkit-animation: backgroundColorChange 5s infinite;  Safari and Chrome */
/*}*/


/*@-moz-keyframes backgroundColorChange  Firefox */
/*{*/
    /*0%   {background:red;}*/
    /*50%  {background:yellow;}*/
    /*100%   {background:red;}*/
/*}*/

/*@-webkit-keyframes backgroundColorChange  Safari and Chrome */
/*{*/
    /*0%   {background: #786ED3;}*/
    /*25%  {background: #594DA4;}*/
    /*50% {background: #645BA1;}*/
    /*75% {background: #808EDF;}*/
    /*100% {background: #786ED3;}*/
/*}*/